@import "tailwindcss";

.perspective-1000 {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.transform-gpu {
  transform: translateZ(0);
  will-change: transform;
}